@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

#clickme{
    background: green;
}

#emailme{
    background: orange;
}

p {
    padding: 1rem;
}

a{
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}